<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Equal_level_lines_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Equal_level_lines_UI.Properties.Settings>
            <setting name="FuncIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LimitIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LimitFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CalcLimitOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="xmin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="xmax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ymin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ymax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="N" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="M3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AddGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddXaxis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddYaxis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumOfGridLines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridLinesThickness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PicWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PicHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </Equal_level_lines_UI.Properties.Settings>
    </userSettings>
</configuration>